<ion-tabs *ngIf="user">
  <ion-tab [root]="clientMenuRoot" tabTitle="Offices menu" tabIcon="home"></ion-tab>
  <ion-tab [root]="papersinfoRoot" tabTitle="Papers Info" tabIcon="paper"></ion-tab>
  <ion-tab [root]="myRequestsRoot" tabTitle="MY Requests" tabIcon="bookmark"></ion-tab>
</ion-tabs>


<ion-tabs *ngIf="!user">
  <ion-tab [root]="officesMenuRoot" tabTitle="Employers" tabIcon="home"></ion-tab>
  <ion-tab [root]="myRequestsRoot" tabTitle="MY Requests" tabIcon="bookmark"></ion-tab>
</ion-tabs>
