page-home {
    .background {
        background: linear-gradient(160deg,#fffff0  30%,#f8d879  70%);
    }
   .bg{
        
   
      //background-image: url('../assets/imgs/Desert.jpg');
      //background-size: 100%;
      height:25%;
     
    
   }
   .wlc{
    color : Black ;
    font-style:bold;
    font-size:30px;
    text-align: center ;
    font-family:cursive ;
}
   
.inputs {

    margin-top :30%;

}

ion-item {
    background: transparent!important;
    border: 1px solid #fff!important;
    ion-input {
        color: #000000;
    }
    ion-label {
        color: #000000!important;
    }
    .item-inner {
        border: 0!important;
    }

    
}
.btn   {
    background: transparent!important;
    border: 1px solid #fff!important;

}


}
