page-login-office {
    .background {
        background: linear-gradient(160deg,#fffff0  30%,#f8d879  70%);
    }
   .bg{
        
   
      //background-image: url('../assets/imgs/Desert.jpg');
      //background-size: 100%;
      height:25%;
     
    
   }
   .wlc{
    color : #353331  ;
    font-style:bold;
    font-size:30px;
    text-align: center ;
    font-family:cursive ;
}
   .p1{

    text-align: center ;

    font-size:40px;

   }
.inputs {

    margin-top :50px;

}

ion-item {
    background: transparent!important;
    border: 1px solid #fff!important;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    ion-input {
        color: #000000;
        
    }
    ion-label {
        color: #000000!important;
        border-bottom-color: transparent !important;
    }
    .item-inner {
        border: 0!important;
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    
}
.btn   {
    background: transparent!important;
    border: 1px solid #fff!important;

}
.btn1   {
    background: transparent!important;
    font-style: italic;
    font-size: 12px;
    color: #FFF;
}
ion-img{

    background: transparent !important

}
}
