<!--
  Generated template for the OfficeRequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>OfficeRequests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="typeUser.write">
    <ion-item-sliding *ngFor="let item of items | async">
    <ion-item >
      <ion-avatar item-start>
        <img [src]="item.image || '/assets/imgs/M1.png'">
      </ion-avatar>
      <h2>{{item.FullName}}</h2>
      <p *ngIf="!typeUser.write">{{item.recruiter.email}}</p>
      <p *ngIf="typeUser.write">{{item.applicant.email}}</p>
      <p>{{item.status}}</p>
      <button ion-button round (click)="accept(item)">
        Accept
      </button>
      <button ion-button round color="danger" (click)="reject(item)">
        Reject
      </button>
    </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="SendSmsApplicatn(item)">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="callApplicant(item)">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-list *ngIf="!typeUser.write">
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.image || '/assets/imgs/M1.png'">
        </ion-avatar>
        <h2>{{item.FullName}}</h2>
        <p *ngIf="!typeUser.write">{{item.recruiter.email}}</p>
        <p *ngIf="typeUser.write">{{item.applicant.email}}</p>
        <p>{{item.status}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="SendSms(item)">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="call(item)">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
